body{
    font-family: 'Poppins', sans-serif;
}


.bg-header{
    background-color: #264653;
}

.font-hp{
    color: #E0E0E0;
    text-align: justify;
}

.btn-bg{
    background-color: #E76F51;
    
}

.font-color-small{
    color: #E76F51;
}

.img-grayscale{

    filter: grayscale(100%);
}

.heading-text{
    color: #E76F51;
}

.fas {
    color: #E77C40;
}

.far{
    color: #E77C40;

}

.person-name{
    color: #23A6F0;
}
