body{
    font-family: 'Poppins', sans-serif;
}


.bg-header{
    background-color: #264653;
}

.font-hp{
    color: #E0E0E0;
    text-align: justify;
}

.btn-bg{
    background-color: #E76F51;
    
}

.font-color-small{
    color: #E76F51;
}

.img-grayscale{

    filter: grayscale(100%);
}

.heading-text{
    color: #E76F51;
}

.fas {
    color: #E77C40;
}

.far{
    color: #E77C40;

}

.person-name{
    color: #23A6F0;
}

.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }

  .carousel{
      width: 1000px;
      height: 300;
  }


.bg-caro{
    
    background-color: rgb(31, 30, 28);
    opacity: 0.7;
}

.para-text-color{
    color: #7E848C;
}

.client-text{
    font-size: 56px !important;
    font-weight: bold;
}